[user]
	name = Marcell Endrey
	email = marcell.endrey@prezi.com
[core]
	editor = vim
	excludesfile = /Users/Marca/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = always
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	XoldNormal = red bold
	XoldHighlight = "red bold 52"
	XnewNormal = "green bold"
	XnewHighlight = "green bold 22"
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
# [interactive]
	# diffFilter = "diff-so-fancy | less --tabs=4 -RFX"
[push]
	default = current
[alias]
    st = status
#   co = checkout
    re = restore
    si = switch
    ci = commit
    cb = rev-parse --abbrev-ref HEAD
    dc = diff --cached
    append = commit --amend --no-edit
    patch = !git --no-pager diff --no-color
    cp = cherry-pick
    resetlast = reset @~1
    recent = branch --sort=-committerdate
    rebi = rebase -i
    rebix = !git rebase -i $(git log --oneline --no-color -n20 | fzf | awk '{print $1}')~1
    reci = rebase --continue
    wip = commit -am "WIP" --no-verify
    last = show @
[diff]
	submodule = log
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/Marca/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[merge]
	renamelimit = 2000
[pull]
	rebase = true
[stash]
	showPatch = true
[init]
	defaultBranch = master
